.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button--primary {
  color: var(--white);
  background-color: var(--primary);
}

.button--secondary {
  color: var(--black);
  background-color: var(--secondary);
}

.button--default {
  padding: 12px 8px;
}

.button--medium {
  padding: 16px 12px;
}

.button--disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}
